<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="adminLayout(content,script)"
>
  <head>
    <title>SHOP</title>
    <link
      rel="stylesheet"
      th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >옷 등록하기</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">옷 등록하기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div th:replace="${content}"></div>
  </body>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script th:replace="${script}"></script>
</html>
