<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{/layout/base :: layout(~{::title}, ~{::section}, ~{::script}, ~{::style})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>list</title>
  </head>

  <style>
    .item > img {
      display: inline-block;
      width: 100%;
      height: 75%;
      overflow: hidden;
      object-fit: cover;
      border-radius: 5px;
    }
    #filter {
      position: relative;
    }
  </style>
  <body>
    <div class="container-xl">
      <!-- NAVIGATION BAR -->

      <!-- list -->
      <section>
        <div class="row g-4 mt-2">
          <div class="col-xl-3">
            <!-- filter -->
            <div
              id="filter"
              class="p-4 border rounded bg-light"
              th:object="${filter}"
            >
              <h4 class="header_name">Filter</h4>
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne"
                      aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne"
                    >
                      Category
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne"
                  >
                    <div class="accordion-body" id="subcategory_container">
                      <th:block
                        th:if="${category == null}"
                        th:each="categoryName : ${categories}"
                      >
                        <div
                          th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                        >
                          <a
                            class="list-group-item"
                            th:href="${urlBuilder.replaceQueryParam('page',0).replaceQueryParam('category',categoryName.id).toUriString()}"
                            th:text="${categoryName.name}"
                          ></a>
                        </div>
                      </th:block>

                      <th:block
                        th:if="${category != null }"
                        th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                      >
                        <div>
                          <a
                            class="list-group-item"
                            th:href="@{${urlBuilder.replaceQueryParam('page',0).replaceQueryParam('subcategory').toUriString()}}"
                            th:text="|선택해제|"
                          ></a>
                        </div>
                        <th:block
                          th:each="subcategory : ${filter.subcategories}"
                        >
                          <div>
                            <a
                              th:id="|subcategory_${subcategory.id}|"
                              class="list-group-item"
                              th:href="@{${urlBuilder.replaceQueryParam('page',0).replaceQueryParam('subcategory',subcategory.id).toUriString()}}"
                              th:text="${subcategory.name}"
                            ></a>
                          </div>
                        </th:block>
                      </th:block>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseTwo"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseTwo"
                    >
                      color
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseTwo"
                    class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingTwo"
                  >
                    <div
                      class="accordion-body"
                      th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                    >
                      <div>
                        <a
                          class="list-group-item"
                          th:href="@{${urlBuilder.replaceQueryParam('page',0).replaceQueryParam('color').toUriString()}}"
                          th:text="|선택해제|"
                        ></a>
                      </div>
                      <th:block th:each="color : ${filter.colors}">
                        <div>
                          <a
                            th:id="|color_${color.id}|"
                            class="list-group-item"
                            th:href="${urlBuilder.replaceQueryParam('page',0).replaceQueryParam('color', color.id).toUriString()}"
                            th:text="${color.name}"
                          ></a>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseThree"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree"
                    >
                      Size
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseThree"
                    class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingThree"
                  >
                    <div
                      class="accordion-body"
                      th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                    >
                      <div>
                        <a
                          class="list-group-item"
                          th:href="@{${urlBuilder.replaceQueryParam('page',0).replaceQueryParam('size').toUriString()}}"
                          th:text="|선택해제|"
                        ></a>
                      </div>
                      <th:block th:each="size: ${filter.sizes}">
                        <div>
                          <a
                            th:id="|size_${size.id}|"
                            class="list-group-item"
                            th:href="${urlBuilder.replaceQueryParam('page',0).replaceQueryParam('size', size.id).toUriString()}"
                            th:text="${size.name}"
                          ></a>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseFour"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseFour"
                    >
                      Sort
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseFour"
                    class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingFour"
                  >
                    <div
                      class="accordion-body"
                      th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                    >
                      <div>
                        <a
                          class="list-group-item"
                          th:href="${@ThymeleafCustomUtilMethods.removeSortQueryStrings(urlBuilder.toUriString()).replaceQueryParam('page',0).toUriString()}"
                          th:text="|선택해제|"
                        ></a>
                      </div>
                      <th:block th:each="sort: ${filter.sorts}">
                        <div>
                          <a
                            th:if="${#strings.equals(sort, 'highestPrice')}"
                            class="list-group-item"
                            th:id="|sort_${sort}|"
                            th:href="${@ThymeleafCustomUtilMethods.removeSortQueryStrings(urlBuilder.toUriString()).replaceQueryParam('page',0).replaceQueryParam('highestPrice', true).toUriString()}"
                            th:text="|높은 가격순|"
                          ></a>
                        </div>
                        <div>
                          <a
                            th:if="${#strings.equals(sort, 'highestSalesRate')}"
                            th:id="|sort_${sort}|"
                            class="list-group-item"
                            th:href="${@ThymeleafCustomUtilMethods.removeSortQueryStrings(urlBuilder.toUriString()).replaceQueryParam('page',0).replaceQueryParam('highestSalesRate', true).toUriString()}"
                            th:text="|높은 판매순|"
                          ></a>
                        </div>
                        <div>
                          <a
                            th:if="${#strings.equals(sort, 'lowestPrice')}"
                            th:id="|sort_${sort}|"
                            class="list-group-item"
                            th:href="${@ThymeleafCustomUtilMethods.removeSortQueryStrings(urlBuilder.toUriString()).replaceQueryParam('page',0).replaceQueryParam('lowestPrice', true).toUriString()}"
                            th:text="|낮은 가격순|"
                          ></a>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9">
            <div class="p-3 border rounded bg-light">
              <h4 class="header_name">Items</h4>
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
                  <th:block th:each="item : ${list}">
                    <a th:href="@{/shop/item/{itemId}(itemId=${item.id})}" class="list-group-item">
                    <div class="item col mt-3">
                      <img
                        th:src="|${item.mainImage.location}/${item.mainImage.serverSavedName}|"
                        alt=""
                      />
                      <div style="text-align: center">
                        <h6 th:text="${item.name}">gray-product</h6>
                        <h6 th:text="|${{item.price}}₩|">price : $500</h6>
                      </div>
                    </div>
                  </th:block>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- page -->
        <div th:if="${!list.isEmpty()}">
          <nav
            th:with="
                pageNumber = ${list.pageable.pageNumber},
                pageSize = ${list.pageable.pageSize},
                totalPages = ${list.totalPages},
                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage}),
                urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
            aria-label="Page navigation example"
          >
            <ul class="pagination justify-content-end mt-5">
              <li th:classappend="${list.first} ? 'disabled'" class="page-item">
                <a
                  class="page-link"
                  th:href="${list.first} ? '#' : ${urlBuilder.replaceQueryParam('page',pageNumber -1).toUriString()}"
                  >&lt</a
                >
              </li>

              <li
                th:each="page: ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${page == pageNumber + 1} ? 'active'"
                class="page-item"
              >
                <a
                  class="page-link"
                  th:href="${urlBuilder.replaceQueryParam('page',page-1).toUriString()}"
                  th:text="${page}"
                  >1</a
                >
              </li>

              <li class="page-item" th:classappend="${list.last} ? 'disabled'">
                <a
                  class="page-link"
                  th:href="${list.last} ? '#' :  ${urlBuilder.replaceQueryParam('page',pageNumber+1).toUriString()}"
                  >&gt</a
                >
              </li>
            </ul>
          </nav>
        </div>

        <!--BEST PRODUCT -->
        <h2 class="pb-2 border-bottom mt-5">BEST PRODUCT</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
          <th:block th:each="item : ${top3}">
            <div class="item col">
              <img
                th:src="|${item.mainImage.location}/${item.mainImage.serverSavedName}|"
                alt=""
              />
              <div style="text-align: center">
                <h5 th:text="${item.name}">gray-product</h5>
                <h6 th:text="|${{item.price}}₩|">price : $500</h6>
              </div>
            </div>
          </th:block>
        </div>
      </section>
    </div>
    <script>
      var subcategory = document.getElementById("subcategory_container");

      window.addEventListener("load", () => {
        const paramMap = new URLSearchParams(location.search);
        for (const param of paramMap) {
          if (param[0] === "subcategory") {
            const subcategory = document.getElementById(
              "subcategory_" + param[1]
            );
            subcategory.classList.add("fw-bold");
          } else if (param[0] === "color") {
            const color = document.getElementById("color_" + param[1]);
            color.classList.add("fw-bold");
          } else if (param[0] === "size") {
            const size = document.getElementById("size_" + param[1]);
            size.classList.add("fw-bold");
          }
        }
      });
    </script>
  </body>
</html>
