<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{/layout/base :: layout(~{::title}, ~{::section}, ~{::script}, ~{::style})}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      span {
        font-size: 1.25rem;
      }
      h4 {
        font-weight: 900;
      }
      .star {
        position: relative;
        font-size: 1.5rem;
        color: rgb(218, 33, 33);
      }
      @media screen and (max-width: 767px) {
        .overview {
          display: flex;
          flex-direction: column;
        }
        .overview > img {
          width: 100%;
          height: 100%;
          justify-content: center;
        }
        .overview > .product-contents {
          text-align: center;
        }
      }
    </style>
    <title>Shop</title>
  </head>
  <body>
    <div class="container-xl">
      <section>
        <!-- PRODUCT OVERVIEW -->
        <div class="overview border mt-5 p-3 d-md-flex justify-content-around">
          <img src="/img/조절된이미지.jpg" height="450px" />
          <div
            class="product-contents mt-3 align-self-center"
            style="width: 430px"
          >
            <h4>PRODUCT NAME</h4>
            <span> 20,000₩ </span>
            <div class="vr mx-2"></div>
            <span class="star"> ★★★★★ </span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur dolor pariatur amet dignissimos autem nam placeat sequi,
              voluptate libero recusandae.
            </p>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="option1"
                autocomplete="off"
                checked
              />
              <label class="btn btn-secondary" for="option1">S</label>

              <input
                type="radio"
                class="btn-check"
                name="options"
                id="option2"
                autocomplete="off"
              />
              <label class="btn btn-secondary" for="option2">M</label>

              <input
                type="radio"
                class="btn-check"
                name="options"
                id="option3"
                autocomplete="off"
              />
              <label class="btn btn-secondary" for="option3">X</label>
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="option4"
                autocomplete="off"
              />
              <label class="btn btn-secondary" for="option4">XL</label>
            </div>
            <div class="col-12 mt-3">
              <button
                type="submit"
                class="btn btn-primary"
                style="width: 173px"
              >
                Sign in
              </button>
            </div>
          </div>
        </div>

        <!-- comment -->
        <div class="my-1 py-2 text-dark">
          <div class="row d-flex justify-content-center">
            <div class="">
              <div class="card">
                <div class="card-body p-4">
                  <div class="d-flex flex-start w-100">
                    <img
                      class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp"
                      alt="avatar"
                      width="65"
                      height="65"
                    />
                    <div class="w-100">
                      <h5>Add a comment</h5>

                      <div class="form-outline">
                        <textarea
                          class="form-control"
                          id="textAreaExample"
                          rows="4"
                        ></textarea>
                        <label class="form-label" for="textAreaExample"
                          >What is your view?</label
                        >
                      </div>
                      <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-success">
                          Danger
                        </button>
                        <button type="button" class="btn btn-danger">
                          Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- comment list -->
        <div class="my-1 py-2">
          <div class="row d-flex justify-content-center">
            <div class="">
              <div class="card">
                <div class="card-body p-4">
                  <h4 class="text-center mb-4 pb-2">Nested comments section</h4>

                  <div class="row">
                    <div class="col">
                      <div class="d-flex flex-start">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Maria Smantha
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              It is a long established fact that a reader will
                              be distracted by the readable content of a page.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Simona Disa
                                    <span class="small">- 3 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  letters, as opposed to using 'Content here,
                                  content here', making it look like readable
                                  English.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  the majority have suffered alteration in some
                                  form, by injected humour, or randomised words.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-start mt-4">
                        <img
                          class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp"
                          alt="avatar"
                          width="65"
                          height="65"
                        />
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <p class="mb-1">
                                Natalie Smith
                                <span class="small">- 2 hours ago</span>
                              </p>
                              <a href="#!"
                                ><i class="fas fa-reply fa-xs"></i
                                ><span class="small"> reply</span></a
                              >
                            </div>
                            <p class="small mb-0">
                              The standard chunk of Lorem Ipsum used since the
                              1500s is reproduced below for those interested.
                              Sections 1.10.32 and 1.10.33.
                            </p>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Lisa Cudrow
                                    <span class="small">- 4 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Cras sit amet nibh libero, in gravida nulla.
                                  Nulla vel metus scelerisque ante sollicitudin
                                  commodo. Cras purus odio, vestibulum in
                                  vulputate at, tempus viverra turpis.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    Maggie McLoan
                                    <span class="small">- 5 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  a Latin professor at Hampden-Sydney College in
                                  Virginia, looked up one of the more obscure
                                  Latin words, consectetur
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#">
                              <img
                                class="rounded-circle shadow-1-strong"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                alt="avatar"
                                width="65"
                                height="65"
                              />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <p class="mb-1">
                                    John Smith
                                    <span class="small">- 6 hours ago</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  Autem, totam debitis suscipit saepe sapiente
                                  magnam officiis quaerat necessitatibus odio
                                  assumenda, perferendis quae iusto labore
                                  laboriosam minima numquam impedit quam
                                  dolorem!
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
